POSTGRES_USER=wasselne
POSTGRES_PASSWORD=wasselne_local
POSTGRES_DB=wasselne
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=wasselne
MINIO_ROOT_PASSWORD=wasselne_local_key
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
